@import "./utils/variables";

body,
html {
	font-size: $baseFont;
	line-height: normal;
	font-weight: 400;
	background-color: $primaryBg;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $primaryFont;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
article {
	margin: 0;
	line-height: 160%;
	font-weight: 400;
	font-family: "Plus Jakarta Sans";
}


p,
a {
	margin: 0;
	line-height: 160%;
	font-weight: 400;
}

strong {
	font-weight: 700;
}

p,
a,
li {
	font-weight: 300;
}

.navbar {
	background: var(--white, #FFF);
    padding: 16px 0px;
    width: 100%;
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
	transition: 0.5s all ease-in-out;
	@media(min-width: 767px) {
		padding: 26px 0px;
	}
	&.sticky {
		padding: 6px 0px;
	}

	.navbar-brand {
		padding: 0;

		img {
			width: 234px;
			@media(max-width:767px) {
				width: 140px;
			}
		}

	}

	.navbar-collapse {
		justify-content: end;
		

		.navbar-nav {
			position: absolute;
			background: #fff;
			width: 100%;
			left: 0;
			padding: 20px;
			margin-top: 20px;
			border-radius: 20px;
			@media(min-width: 767px) {
				position: static;
				width: auto;
				margin-top: auto;
			}
			.nav-link {
				color: $black;
				font-family: $primaryFont;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 20.651px; /* 129.07% */
				letter-spacing: -0.16px;
				padding: 10px 0px;
				@media(min-width: 767px) {
				
				padding: 0px 26px;
				}
			}
		}
		
	}

	.sign-btn {
		position: absolute;
		right: 26%;
		top: 34%;
		@media(min-width: 767px) {
			position: static;
		}
		a {
			border-radius: 32px;
			background: #147BFB;
			color: var(--white, #FFF);
			font-family: Manrope;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px; /* 133.333% */
			letter-spacing: -0.18px;
			padding: 10px 23px;
    		margin-left: 0;
			@media(min-width: 767px) {
				padding: 12px 30px;
				margin-left: 60px;
				font-size: 18px;
			}
		}
	}


}

.banner {
	border-radius: 0px 0px 30px 30px;
	background: #F5F9FD;
	padding: 90px 0px;

	@media(min-width: 767px) {
		padding: 152px 0px 40px;
	}

	.banner-info {
		// position: relative;
		h1 {
			color: #032B69;
			font-family: Manrope;
			font-size: 28px;
			font-style: normal;
			font-weight: 600;
			line-height: 36px; /* 126.667% */
			@media(min-width: 767px) {
				font-size: 60px;
				line-height: 76px;
			}
		}
			p {
				color: #383838;
				font-family: Manrope;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 30px; /* 129.032% */
				margin-top: 16px;
				@media(min-width: 767px) {
					font-size: 31px;
					line-height: 40px; /* 129.032% */
				}
		}
		span {
			display: block;
			color: #171717;
			font-family: Manrope;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			margin: 24px 0px;
			img {
				margin-right: 8px;
			}
			@media(min-width: 767px) { 
				font-size: 20px;
			}
		}
		a {
			border-radius: 43.632px;
			background: #147BFB;
			color: var(--white, #FFF);
			font-family: Manrope;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 30.799px; /* 171.107% */
			display: inline-block;
			padding: 8px 16px;
			img {
				margin-left: 10px;
			}
			@media(min-width: 767px) {  
				font-size: 18px;
				padding: 15px 26px;

			}
		}
	}

	
	.banner-img {
			position: relative;
			@media(min-width: 767px) {
				position: static;
			}
		&::before {
			content: "";
			position: absolute;
			border-radius: 519px;
			background: rgba(201, 228, 255, 0.5);
			width: 298px;
			height: 298px;
			right: 0;
			top: 0;
			display: none;
			@media(min-width: 767px) {
				width: 498px;
				height: 498px;
				top: 22%;
        		right: 6%;
				display: block;
			}
		}
		img {
			width: 100%;
			position: relative;
		}
	}
}

.counters {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	justify-content: space-between;
	@media(min-width: 767px) {
		flex-direction: row;
		gap: 60px;
	}
	li {
		color: var(--font-color-dark-800, #151515);
		font-family: Manrope;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 34px; /* 76.786% */
		text-align: center;
		@media(min-width: 767px) {
			font-size: 56px;
			line-height: 68px;
			text-align: left;
		}
		span {
			display: block;
		font-size: 20px;
		font-weight: 500;
		line-height: 43px; /* 76.786% */
		@media(min-width: 767px) {
			font-size: 24px;
		}

		}
		&:last-child {
			border-radius: 32px;
			background: #F5F9FD;
			padding: 20px;
			display: flex;
			gap:20px;
			color: #147BFB;
			font-family: Manrope;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 32px;
			letter-spacing: -0.24px;
			width:100%;
			text-align: left;
			@media(min-width: 767px) {
				width: 400px;
				font-size: 24px;
				line-height: 37.183px;
				padding: 25px;
			}
			img {
				width: 60px;
				@media(min-width: 767px) {
					width: auto;
				}
			}
		}
	}
}
.heading-title {
	h2 {
		color: #171717;
		text-align: center;
		font-family: Manrope;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 36px; /* 100% */
		margin-bottom: 32px;
		@media(min-width: 767px) {
			font-size: 56px;
			line-height: 56px; /* 100% */
		}
	}
	h3 {
		color: #147BFB;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 6px;
@media(min-width: 767px) {
	font-size: 38px;
	margin-bottom: 12px;
}
	}
	h4 {
		color: #000;
text-align: center;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 20px;
@media(min-width: 767px) {
	margin-bottom: 40px;
	font-size: 26px;
}
	}
	p {
		color: #000;
		font-family: Manrope;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-align: center;
	}
}
.primary-setion {
	margin-top: 50px;
	@media(min-width: 767px) { 
		margin-top: 100px;
	}
}
.learning {
	border-radius: 32px;
	background: #F5F9FD;
	padding: 20px;
	@media(min-width: 767px) { 
		padding: 0px;
	}
	img {
		width:100%;
		margin-top : -40px;
		@media(min-width: 767px) {
			width:540px;
		}

	}
	h3 {
		color: #151515;
		font-family: Manrope;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 36px; /* 128.571% */
		letter-spacing: -1.68px;
		margin-top: 20px;
		padding-right: 0px;
		@media(min-width: 767px) {
			font-size: 56px;
			padding-right: 120px;
			margin-top: 56px;
			line-height: 72px;
		}
		span {
			color: #147BFB;
			font-weight: 700;

		}
	}
	ul {
		margin: 20px 0px;
		@media(min-width: 767px) {
			margin: 30px 0px 50px;
		}
		li {
			background-image: url('../images/check.svg');
			background-repeat: no-repeat;
			color: #3E3F3F;
			font-family: Manrope;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px; /* 150% */
			background-size: 30px;
			padding: 0px 0px 14px 42px;
			@media(min-width: 767px) {
				font-size: 24px;
				line-height: 36px;
				padding: 0px 0px 16px 50px;
				background-size: auto;
			}
		}
	}
}
.our-features {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	@media(min-width: 767px) { 
		gap: 40px;
	}
	li {
		width: calc((100% - 0px) /1 );
		border-radius: 20px;
		border: 1px solid #CECDCD;
		padding: 20px;
		text-align: center;
		@media(min-width: 767px) {
			width: calc((100% - 80px) /3 );
		}
		
		img {
			width: 72px;
			margin: auto;
		}
		h3 {
			color: var(--Gray-900, #101828);
			text-align: center;
			font-family: Manrope;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 30px; /* 150% */
			margin-bottom: 8px;
			margin: 10px 0px 4px;
			@media(min-width: 767px) {
				font-size: 20px;
				margin: 20px 0px 8px;	
			}
		}
		p {
			color: var(--Gray-600, #475467);
			text-align: center;
			font-family: Manrope;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px; /* 150% */
			@media(min-width: 767px) {
				font-size: 16px;
			}
		}
		a {
			border-radius: 34px;
			border: 1px solid #147BFB;
			padding: 8px 16px;
			color: #147BFB;
			font-family: Manrope;
			font-size: 13px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px; /* 184.615% */
			letter-spacing: -0.13px;
			display: inline-block;
			margin-top: 20px;
			transition: 0.5s all ease-in-out;
			&:hover {
				background: #147BFB;
				color: #fff;
			}
		}
	}
}

.users-trading-skill  {
	background: #F5F9FD;
	padding: 40px 0px;
	@media(min-width: 767px)  {
		padding: 80px 0px;
	}
	.user-counts {
		display: flow-root;
		justify-content: space-between;
		align-items: end;
		@media(min-width: 767px) {
			display: flex;
		}
		.left-side {
			width: 100%;
			@media(min-width: 767px) {
				width: 60%;
			}
			h2 {
				color: #147BFB;
				font-family: Manrope;
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
				line-height: 40px; /* 128.571% */
				@media(min-width: 767px) {
					font-size: 56px;
					line-height: 72px; /* 128.571% */
				}
			}
			p {
				color: #171717;
				font-family: Manrope;
				font-size: 18px;
				font-style: normal;
				font-weight: 300;
				line-height: 24px; /* 166.667% */
				@media(min-width: 767px) { 
					font-size: 24px;
					line-height: 40px;
				}
			}
		}
		.right-side {
			width: 100%;
			margin-top: 10px;
			@media(min-width: 767px) {
				width: 28%;
			}
			p {
				color: #171717;
				font-family: Manrope;
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: 27px; /* 150% */
			}
		}
	}
	.trading-card {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		margin-top: 54px;
		li {
			width: calc((100% - 0px) /1 );
			border-radius: 20px;
			background: var(--white, #FFF);
			padding: 20px 44px;
			text-align: center;
			@media(min-width: 767px) {
				width: calc((100% - 80px) /3 );
				padding: 20px 24px;
			}
			img {
				width: 120px;
				height: auto;
				@media(min-width: 767px) {
					width: 177.447px;
					height: 180px;
					object-fit: contain;
				}
			}
			p {
				color: #171717;
				text-align: center;
				font-family: Manrope;
				font-size: 20px;
				font-style: normal;
				font-weight: 500;
				line-height: 26px; /* 91.667% */
				margin-top: 20px;
				@media(min-width: 767px) {
					font-size: 24px;
					line-height: 32px;
				}
			}
		}
		&.we-offer {
			margin-top: 0;
			@media(min-width: 767px) {
				margin-top: 54px;
			}
			li {
				width: calc((100% - 0px) /1 );
				padding: 26px;
				@media(min-width: 767px) {
					width: calc((100% - 120px) /4 );
					padding: 20px 18px;
				}
				img {
					width: 110px;
					height: 90px;
				}
				p {
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 160%;
					text-align: left;
				}	
			}
		}
	}
}
.learning-testing {
	border-radius: 32px;
	background: #147BFB;
	padding: 20px;
	@media(min-width: 767px) {
		padding: 72px 50px 36px;
	}
	
	
	h3 {
		color: var(--white, #FFF);
		font-family: Manrope;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 34px; /* 142.857% */
		@media(min-width: 767px) {  
			font-size: 56px;
			line-height: 80px;
		}
		span {
			color: var(--white, #FFF);
			display: block;
			font-weight: 700;
	
		}
		
	}
	
	ul {
		margin: 20px 0px 40px;
		display: flex;
    	flex-wrap: wrap;
		@media(min-width: 767px)  {
			margin: 30px 0px 50px;	
		}
		li {
			width: calc((100% - 0px) /1 );
			background-image: url('../images/check2.png');
			background-repeat: no-repeat;
			color: var(--white, #FFF);
			font-family: Manrope;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px; /* 150% */
			padding: 0px 0px 16px 40px;
			background-size: 30px;
			
			@media(min-width: 767px)  {
				width: calc((100% - 0px) /2 );
				font-size: 24px;
				padding: 0px 0px 16px 50px;
				line-height: 36px;
				background-size: auto;
			}
		}
	}
	.btns-group {
		display: flex;
		gap: 10px;
		@media(min-width: 767px)  {
			gap: 20px;
		}
		a {
			border-radius: 32px;
			background: var(--white, #FFF);
			color: #000;
			font-family: Manrope;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 116.865%; /* 21.036px */
			letter-spacing: -0.54px;
			padding: 8px;
			+ a {
				border-radius: 43.632px;
				background: #171717;	
				color: #fff;
			}
			@media(min-width: 767px)  { 
				padding: 16px 26px;
				font-size: 18px;
			}
		}
	}
}

.footer-section {
	border-radius: 30px 30px 0px 0px;
	background: #090B34;
	padding: 20px;
	@media(min-width: 767px)  {
		padding: 60px 0px 40px;
	}
		
	.important-read {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@media(min-width: 767px)  {
			flex-direction: row;

		}
		.left-info {
			width: 100%;
			@media(min-width: 767px)  {
				width: 30%;
			}
			h3 {
				color: var(--font-color-white, var(--white, #FFF));
				font-family: Manrope;
				font-size: 28px;
				font-style: normal;
				font-weight: 500;
				line-height: 36px; /* 116.667% */
				letter-spacing: -1.44px;
				@media(min-width: 767px)  {
					font-size: 48px;
					line-height: 56px;
				}
			}
			img {
				width: auto;
				margin-top: 0px;
				@media(min-width: 767px)  {
					margin-top: 8px;
				}
			}
		}
		.right-info {
			width: 100%;
			margin-top: 20px;
			@media(min-width: 767px)  {
				width: 40%;
				margin: 0;
			}

			p {
				color: #E0E0E0;
				font-family: Manrope;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px; /* 150% */
				+ p {
					margin-top: 20px;
				}
			}
		}
	}
	.footer-info {
		border-top: 2px solid #667085;
		margin-top: 20px;
		padding-top: 20px;
		@media(min-width: 767px)  {
			margin-top: 30px;
			padding-top: 30px;
		}
		.short-details {
			img {
				margin-bottom: 10px;
			}
			h4 {
				color: var(--white, #FFF);
				font-family: Manrope;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				
			}
			p {
				color: #DCDCDC;
				font-family: Manrope;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 150% */
				opacity: 0.6;
			}
		}
		.link-d {
			display: flex;
			flex-direction: column;
			gap: 8px;
			margin-bottom: 8px;
			@media(min-width: 767px) {
				margin: auto;
				gap: 18px
			}
			li {
				a {
					color: #DCDCDC;
					font-family: Manrope;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					opacity: 0.6;
					span {
						color: #fff;

					}
				}
			}
		}
	}
}
.copyright {
	background: #030412;
	padding: 15px 0px;
	 p {
		color: var(--white, #FFF);
		text-align: center;
		font-family: Manrope;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	 }
}

.industry-standard {
	border-radius: 32px;
	background: #F5F9FD;
	padding: 20px;
	margin-bottom: 40px;
	@media(min-width: 767px) {
		padding: 40px;
	}
	img {
		width: 100%;
	}
	.market-details {
		h3 {
			color: #171717;
			font-family: Manrope;
			font-size: 22px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			margin-bottom: 20px;
			@media(min-width: 767px) {
				font-size: 40px;
				margin-bottom: 30px;
			}
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 4px;
			padding-left:20px;
			margin-bottom: 10px;
			@media(min-width: 767px)  {
				gap: 16px;
				padding-left: 28px;
				margin: auto;
			}
			li {
				list-style: disc;
				width: calc((100% - 0px) /1);
				color: #28292B;
				font-family: Manrope;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 200%; /* 36px */
				letter-spacing: -0.09px;
				@media(min-width: 767px)  {
					width: calc((100% - 20px) /2);
					font-size: 18px;
				}
			}
		}
	}
}
.faq {
	.accordion {
		padding: 0px 0px 40px;
		width: 900px;
		margin: auto;

		@media (max-width:1200px) {
			width: auto;
		}

		.accordion-item {
			border: 0px solid #ECECEC;
			box-shadow: none;
			border-radius: 8px;
			margin-bottom: 16px;
			border-radius: 16px;
			background: #F5F5F5;
			

			.accordion-button {
				color: #000;
				font-family: Manrope;
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: 28px; /* 107.692% */
				padding: 16px 24px;
				border-radius: 8px;
				padding-left: 60px;	
				@media(min-width: 767px)  {
					font-size: 26px;
				}

				&:not(.collapsed) {
					background-color: transparent;
					box-shadow: none;
				}
			}

			.accordion-button::after {
				background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
				transform: scale(.7) !important;
				position: absolute;
				left: 20px;
			}

			.accordion-button:not(.collapsed)::after {
				background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
				position: absolute;
				left: 20px;
			}

			.accordion-body {
				padding: 0px 24px 16px 60px;


				p {
					color: #171717;
					font-family: Manrope;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px; /* 150% */
				+p {
					margin-top: 10px;
				}
				}

			}



		}


	}
}

.secondary-banner {
	position: relative;
	.banner-info {
		text-align: center;
		padding: 20px 0px 0px;
		
		@media(min-width: 767px) {
			padding: 100px 0px 80px;
		}
		h1, p {
			position: relative;
		}
		
		&::before {
			content: "";
			position: absolute;
			border-radius: 519px;
			background: rgba(201, 228, 255, 0.5);
			width: 308px;
			height: 298px;
			right: 7%;
			top: -6%;
			@media(min-width: 767px) {
				width: 773px;
				height: 773px;
				top: -32%;
				right: 24%;
			}
		}
		span {
			color: var(--Gray-900, #101828);
			text-align: center;
			font-family: Manrope;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 160%; /* 36px */
			margin-top: 80px;
			@media(min-width: 767px) {
				font-size: 20px;
				line-height: 180%; /* 36px */
			margin-top: 130px;
			}

		}
	}
}
.we-are {
	background: #090B34;
	padding: 40px 0px;
	@media(min-width: 767px) {
		padding: 80px 0px;
	}
	.we-details {
		img {
			width: 100%;
		}
		h3 {
			color: var(--white, #FFF);
			font-family: Manrope;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 30px; /* 150% */
			text-transform: capitalize;
			margin-bottom: 10px;
			@media(min-width: 767px) {
				margin: 0;
			}
		}
		p {
			color: var(--white, #FFF);
			font-family: Manrope;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%; /* 25.6px */
			+p{
				margin-top: 10px;
			}
		}
	}
}

.our-mission {
	.nav-tabs {
		border: 0;
		gap: 12px;
		margin-bottom: 20px;
		@media(min-width: 767px) {
			gap: 32px;
			margin: 0;
		}
		.nav-item {
			.nav-link {
				color: #475467;
				font-family: Manrope;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 30px; /* 150% */
				text-transform: capitalize;
				display: block;
				border-color: #D9D9D9;
				border-width: 0px 0px 2px 0px;
				padding: 0px 0px 12px;
				@media(min-width: 767px) {
					padding: 0px 0px 32px;
					font-size: 20px;
				}
				span {
					color: #147BFB;
					border-radius: 40px;
					background: #EDF6FF;
					width: 60px;
					height: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 12px;
				}
			&.active {
				color: #147BFB;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					border-color: #147BFB;
					border-width: 0px 0px 2px 0px;
					background: #147BFB;
					height: 2px;
					width: 90px;
					bottom: -2px;
				}
			}
			}
		}
	}
	
	
	.mission-details {
		border-bottom: 2px solid #D9D9D9;
		padding-bottom: 24px;
		margin-bottom: 16px;
		@media(min-width: 767px) {
			padding-bottom: 64px;
			margin-bottom: 64px;
		}
		&:last-child {
			border: 0;
			padding: 0;
			margin: 0;

		} 
		h2 {
			color: var(--Gray-900, #101828);
			font-family: Manrope;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 30px; /* 150% */
			text-transform: capitalize;
		}
		p {
			color: var(--Gray-600, #475467);
			font-family: Manrope;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%; /* 25.6px */
			margin: 12px 0px;
			@media(min-width: 767px) {
				margin: 24px 0px;
			}
		}
		img {
			width: 100%;
		}
	}

}
.congratulation {
	padding-top: 30px;
	@media(min-width: 767px) {
		padding-top: 120px;
	}
	.right {
		width: 60px;
		@media(min-width: 767px) {
		width: auto;	
		}
	}
	h3 {
		color: #000;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
@media(min-width: 767px) {
	font-size: 44px;
}
span {
	color: #147BFB;
}
	}
	p {
		color: #000;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 6px;
@media(min-width: 767px) {
	font-size: 24px;
	margin-top: 23px;
}
	}
	.card-step {
		border-radius: 15px;
		border: 3px solid #D1ECFF;
		padding: 32px;
		margin-top: 40px;
		text-align: right;
		@media(min-width: 767px) {
			margin-top: 60px;
		}
		span {
			color: #000;
			font-family: Manrope;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			@media(min-width: 767px) {
				font-size: 24px;
			}

			
			
		}
		// img {
		// 	margin-top: 40px;
		// }
	}
}

.success-section {
	border-radius: 21px;
	background: #F8F8F8;
	padding: 20px;
	@media(min-width: 767px) {
		padding: 40px;
	}
	h3 {
		color: var(--Neutral-100, #1D1E25);
font-family: Manrope;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 67.2px */
letter-spacing: -1.68px;
@media(min-width: 767px) {
	font-size: 56px;
}
	}
	p {
		color: #28292B;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 180%; /* 36px */
margin-top: 14px;
@media(min-width: 767px) {
	font-size: 20px;
	margin-top: 24px;
}
	}
	a {
		border-radius: 43.632px;
background: #147BFB;
padding: 10px 16px;
color: var(--white, #FFF);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 31px; /* 172.222% */
margin-top: 10px;
    display: inline-block;
	}
}

.refer-earn {
	padding-top: 20px;
	@media(min-width: 767px) {
		padding-top: 100px;
	}
	.content-detail {
		h1 {
			color: #000;
font-family: Manrope;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
@media(min-width: 767px) {
	font-size: 44px;
}
		}
		p {
			color: #5C5C5C;
			font-family: Manrope;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 160%; /* 28.8px */
			margin-top: 12px;
			@media(min-width: 767px) {
				font-size: 18px;
				margin-top: 23px;
			}
		}
		h3 {
			color: #000;
			font-family: Manrope;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%; /* 38.4px */
			margin-top: 18px;
			@media(min-width: 767px) {
				margin-top: 48px;
				font-size: 24px;
			}
			span {
				color: #147BFB;
			}

		}
		a {
			border-radius: 43.632px;
			background: #147BFB;
			color: var(--white, #FFF);
			font-family: Manrope;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: 31px; /* 172.222% */
			padding: 6px 16px;
			display: inline-block;
			margin-top: 19px;
			@media(min-width: 767px) {
			padding: 15px 26px;
			}
			img {
				width: auto;
				margin-left: 10px;
				margin-top: 0;
			}
			}
	}
	img {
		width: 100%;
		margin-top: 20px;
		@media(min-width: 767px) {
		margin-top: 0px;
		}
	}
}

.work-flow {
	border-radius: 12px;
border: 1px solid #69B9DE;
background: var(--white, #FFF);
margin-top: 20px;
padding: 22px;
height: auto;

@media(min-width: 767px) {
	margin-top: 30px;
	height: 370px;
	padding: 32px;
}
h3 {
	color: var(--T, #1B1B1B);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
@media(min-width: 767px) {
	font-size: 22px;
}
}
img {
	width: 40px;
	@media(min-width: 767px) {
		width: auto;
	}
}
p {
	color: var(--TS, #4B4B4B);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
margin-top: 14px;
@media(min-width: 767px) {
	margin-top: 24px;	
}
}
ul {
	padding-left: 34px;
	margin-top: 24px;
	li {
		list-style: disc;
		color: var(--TS, #4B4B4B);
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 200%; /* 36px */
	}
}
}

.plan-card {
	border-radius: 16px;
	border: 1px solid #69B9DE;
	background: var(--white, #FFF);
	box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
	padding: 30px;
	text-align: center;
	margin: 0px 30px 30px;
	@media(min-width: 767px) {
	margin: 0;
	}
	span {
		border-radius: 5px;
		background: #DFEFFE;
		mix-blend-mode: multiply;
		color: #090B34;
		text-align: center;
		font-family: Manrope;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px; /* 142.857% */
		text-transform: uppercase;
		padding: 4px 16px 4px 56px;
	}
	p {
		color: #090B34;
text-align: center;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 200% */
text-decoration-line: strikethrough;
padding: 12px 0px;
@media(min-width: 767px) {
	font-size: 24px;
}
span {
	border-radius: 20px;
    background: #DFEFFE;
    color: #147BFB;
    text-align: center;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    padding: 4px 10px;
    margin-left: 8px;
	@media(min-width: 767px) {
		font-size: 16px;
	}
}
	}
	h3 {
		color: #090B34;
text-align: center;
font-family: Manrope;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 120% */
@media(min-width: 767px) {
	font-size: 40px;
}
	}
	 a {
		border-radius: 90px;
border: 1px solid var(--Primary-600, #1DA1F3);
background: var(--Primary-600, #1DA1F3);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
color: var(--Base-White, var(--white, #FFF));
font-family: Manrope;
font-size: 16px;
font-style: normal;
text-align: center;
font-weight: 700;
display: block;
line-height: 24px; /* 150% */
padding: 12px 0px;
margin-top: 40px;
	 }
}