@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body,
html {
  font-size: 1rem;
  line-height: normal;
  font-weight: 400;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
article {
  margin: 0;
  line-height: 160%;
  font-weight: 400;
  font-family: "Plus Jakarta Sans";
}

p,
a {
  margin: 0;
  line-height: 160%;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

p,
a,
li {
  font-weight: 300;
}

.navbar {
  background: var(--white, #FFF);
  padding: 16px 0px;
  width: 100%;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: 0.5s all ease-in-out;
}
@media (min-width: 767px) {
  .navbar {
    padding: 26px 0px;
  }
}
.navbar.sticky {
  padding: 6px 0px;
}
.navbar .navbar-brand {
  padding: 0;
}
.navbar .navbar-brand img {
  width: 234px;
}
@media (max-width: 767px) {
  .navbar .navbar-brand img {
    width: 140px;
  }
}
.navbar .navbar-collapse {
  justify-content: end;
}
.navbar .navbar-collapse .navbar-nav {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}
@media (min-width: 767px) {
  .navbar .navbar-collapse .navbar-nav {
    position: static;
    width: auto;
    margin-top: auto;
  }
}
.navbar .navbar-collapse .navbar-nav .nav-link {
  color: #333;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.651px; /* 129.07% */
  letter-spacing: -0.16px;
  padding: 10px 0px;
}
@media (min-width: 767px) {
  .navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 0px 26px;
  }
}
.navbar .sign-btn {
  position: absolute;
  right: 26%;
  top: 34%;
}
@media (min-width: 767px) {
  .navbar .sign-btn {
    position: static;
  }
}
.navbar .sign-btn a {
  border-radius: 32px;
  background: #147BFB;
  color: var(--white, #FFF);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
  padding: 10px 23px;
  margin-left: 0;
}
@media (min-width: 767px) {
  .navbar .sign-btn a {
    padding: 12px 30px;
    margin-left: 60px;
    font-size: 18px;
  }
}

.banner {
  border-radius: 0px 0px 30px 30px;
  background: #F5F9FD;
  padding: 90px 0px;
}
@media (min-width: 767px) {
  .banner {
    padding: 152px 0px 40px;
  }
}
.banner .banner-info {
  position: relative;
}
.banner .banner-info h1 {
  color: #032B69;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 126.667% */
}
@media (min-width: 767px) {
  .banner .banner-info h1 {
    font-size: 60px;
    line-height: 76px;
  }
}
.banner .banner-info p {
  color: #383838;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 129.032% */
  margin-top: 16px;
}
@media (min-width: 767px) {
  .banner .banner-info p {
    font-size: 31px;
    line-height: 40px; /* 129.032% */
  }
}
.banner .banner-info span {
  display: block;
  color: #171717;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 24px 0px;
}
.banner .banner-info span img {
  margin-right: 8px;
}
@media (min-width: 767px) {
  .banner .banner-info span {
    font-size: 20px;
  }
}
.banner .banner-info a {
  border-radius: 43.632px;
  background: #147BFB;
  color: var(--white, #FFF);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 30.799px; /* 171.107% */
  display: inline-block;
  padding: 8px 16px;
}
.banner .banner-info a img {
  margin-left: 10px;
}
@media (min-width: 767px) {
  .banner .banner-info a {
    font-size: 18px;
    padding: 15px 26px;
  }
}
.banner .banner-img {
  position: relative;
}
@media (min-width: 767px) {
  .banner .banner-img {
    position: static;
  }
}
.banner .banner-img::before {
  content: "";
  position: absolute;
  border-radius: 519px;
  background: rgba(201, 228, 255, 0.5);
  width: 298px;
  height: 298px;
  right: 0;
  top: 0;
}
@media (min-width: 767px) {
  .banner .banner-img::before {
    width: 498px;
    height: 498px;
    top: 22%;
    right: 6%;
  }
}
.banner .banner-img img {
  width: 100%;
  position: relative;
}

.counters {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 767px) {
  .counters {
    flex-direction: row;
    gap: 60px;
  }
}
.counters li {
  color: var(--font-color-dark-800, #151515);
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 76.786% */
  text-align: center;
}
@media (min-width: 767px) {
  .counters li {
    font-size: 56px;
    line-height: 68px;
    text-align: left;
  }
}
.counters li span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 43px; /* 76.786% */
}
@media (min-width: 767px) {
  .counters li span {
    font-size: 24px;
  }
}
.counters li:last-child {
  border-radius: 32px;
  background: #F5F9FD;
  padding: 20px;
  display: flex;
  gap: 20px;
  color: #147BFB;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
  width: 100%;
  text-align: left;
}
@media (min-width: 767px) {
  .counters li:last-child {
    width: 400px;
    font-size: 24px;
    line-height: 37.183px;
    padding: 25px;
  }
}
.counters li:last-child img {
  width: 60px;
}
@media (min-width: 767px) {
  .counters li:last-child img {
    width: auto;
  }
}

.heading-title h2 {
  color: #171717;
  text-align: center;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 100% */
  margin-bottom: 32px;
}
@media (min-width: 767px) {
  .heading-title h2 {
    font-size: 56px;
    line-height: 56px; /* 100% */
  }
}
.heading-title p {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.primary-setion {
  margin-top: 50px;
}
@media (min-width: 767px) {
  .primary-setion {
    margin-top: 100px;
  }
}

.learning {
  border-radius: 32px;
  background: #F5F9FD;
  padding: 20px;
}
@media (min-width: 767px) {
  .learning {
    padding: 0px;
  }
}
.learning img {
  width: 100%;
  margin-top: -40px;
}
@media (min-width: 767px) {
  .learning img {
    width: 540px;
  }
}
.learning h3 {
  color: #151515;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 128.571% */
  letter-spacing: -1.68px;
  margin-top: 20px;
  padding-right: 0px;
}
@media (min-width: 767px) {
  .learning h3 {
    font-size: 56px;
    padding-right: 120px;
    margin-top: 56px;
    line-height: 72px;
  }
}
.learning h3 span {
  color: #147BFB;
  font-weight: 700;
}
.learning ul {
  margin: 20px 0px;
}
@media (min-width: 767px) {
  .learning ul {
    margin: 30px 0px 50px;
  }
}
.learning ul li {
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  color: #3E3F3F;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 150% */
  background-size: 30px;
  padding: 0px 0px 14px 42px;
}
@media (min-width: 767px) {
  .learning ul li {
    font-size: 24px;
    line-height: 36px;
    padding: 0px 0px 16px 50px;
    background-size: auto;
  }
}

.our-features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 767px) {
  .our-features {
    gap: 40px;
  }
}
.our-features li {
  width: calc((100% - 0px) / 1);
  border-radius: 20px;
  border: 1px solid #CECDCD;
  padding: 20px;
  text-align: center;
}
@media (min-width: 767px) {
  .our-features li {
    width: calc((100% - 80px) / 3);
  }
}
.our-features li img {
  width: 72px;
  margin: auto;
}
.our-features li h3 {
  color: var(--Gray-900, #101828);
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  margin-bottom: 8px;
  margin: 10px 0px 4px;
}
@media (min-width: 767px) {
  .our-features li h3 {
    font-size: 20px;
    margin: 20px 0px 8px;
  }
}
.our-features li p {
  color: var(--Gray-600, #475467);
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
@media (min-width: 767px) {
  .our-features li p {
    font-size: 16px;
  }
}
.our-features li a {
  border-radius: 34px;
  border: 1px solid #147BFB;
  padding: 8px 16px;
  color: #147BFB;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 184.615% */
  letter-spacing: -0.13px;
  display: inline-block;
  margin-top: 20px;
  transition: 0.5s all ease-in-out;
}
.our-features li a:hover {
  background: #147BFB;
  color: #fff;
}

.users-trading-skill {
  background: #F5F9FD;
  padding: 40px 0px;
}
@media (min-width: 767px) {
  .users-trading-skill {
    padding: 80px 0px;
  }
}
.users-trading-skill .user-counts {
  display: flow-root;
  justify-content: space-between;
  align-items: end;
}
@media (min-width: 767px) {
  .users-trading-skill .user-counts {
    display: flex;
  }
}
.users-trading-skill .user-counts .left-side {
  width: 100%;
}
@media (min-width: 767px) {
  .users-trading-skill .user-counts .left-side {
    width: 60%;
  }
}
.users-trading-skill .user-counts .left-side h2 {
  color: #147BFB;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 128.571% */
}
@media (min-width: 767px) {
  .users-trading-skill .user-counts .left-side h2 {
    font-size: 56px;
    line-height: 72px; /* 128.571% */
  }
}
.users-trading-skill .user-counts .left-side p {
  color: #171717;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 166.667% */
}
@media (min-width: 767px) {
  .users-trading-skill .user-counts .left-side p {
    font-size: 24px;
    line-height: 40px;
  }
}
.users-trading-skill .user-counts .right-side {
  width: 100%;
  margin-top: 10px;
}
@media (min-width: 767px) {
  .users-trading-skill .user-counts .right-side {
    width: 28%;
  }
}
.users-trading-skill .user-counts .right-side p {
  color: #171717;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
}
.users-trading-skill .trading-card {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 54px;
}
.users-trading-skill .trading-card li {
  width: calc((100% - 0px) / 1);
  border-radius: 20px;
  background: var(--white, #FFF);
  padding: 20px 44px;
  text-align: center;
}
@media (min-width: 767px) {
  .users-trading-skill .trading-card li {
    width: calc((100% - 80px) / 3);
    padding: 20px 24px;
  }
}
.users-trading-skill .trading-card li img {
  width: 120px;
  height: auto;
}
@media (min-width: 767px) {
  .users-trading-skill .trading-card li img {
    width: 177.447px;
    height: 180px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.users-trading-skill .trading-card li p {
  color: #171717;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 91.667% */
  margin-top: 20px;
}
@media (min-width: 767px) {
  .users-trading-skill .trading-card li p {
    font-size: 24px;
    line-height: 32px;
  }
}

.learning-testing {
  border-radius: 32px;
  background: #147BFB;
  padding: 20px;
}
@media (min-width: 767px) {
  .learning-testing {
    padding: 72px 50px 36px;
  }
}
.learning-testing h3 {
  color: var(--white, #FFF);
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 142.857% */
}
@media (min-width: 767px) {
  .learning-testing h3 {
    font-size: 56px;
    line-height: 80px;
  }
}
.learning-testing h3 span {
  color: var(--white, #FFF);
  display: block;
  font-weight: 700;
}
.learning-testing ul {
  margin: 20px 0px 40px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 767px) {
  .learning-testing ul {
    margin: 30px 0px 50px;
  }
}
.learning-testing ul li {
  width: calc((100% - 0px) / 1);
  background-image: url("../images/check2.png");
  background-repeat: no-repeat;
  color: var(--white, #FFF);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 150% */
  padding: 0px 0px 16px 40px;
  background-size: 30px;
}
@media (min-width: 767px) {
  .learning-testing ul li {
    width: calc((100% - 0px) / 2);
    font-size: 24px;
    padding: 0px 0px 16px 50px;
    line-height: 36px;
    background-size: auto;
  }
}
.learning-testing .btns-group {
  display: flex;
  gap: 20px;
}
.learning-testing .btns-group a {
  border-radius: 32px;
  background: var(--white, #FFF);
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.865%; /* 21.036px */
  letter-spacing: -0.54px;
  padding: 14px;
}
.learning-testing .btns-group a + a {
  border-radius: 43.632px;
  background: #171717;
  color: #fff;
}
@media (min-width: 767px) {
  .learning-testing .btns-group a {
    padding: 16px 26px;
    font-size: 18px;
  }
}

.footer-section {
  border-radius: 30px 30px 0px 0px;
  background: #090B34;
  padding: 20px;
}
@media (min-width: 767px) {
  .footer-section {
    padding: 60px 0px 40px;
  }
}
.footer-section .important-read {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 767px) {
  .footer-section .important-read {
    flex-direction: row;
  }
}
.footer-section .important-read .left-info {
  width: 100%;
}
@media (min-width: 767px) {
  .footer-section .important-read .left-info {
    width: 30%;
  }
}
.footer-section .important-read .left-info h3 {
  color: var(--font-color-white, var(--white, #FFF));
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
}
@media (min-width: 767px) {
  .footer-section .important-read .left-info h3 {
    font-size: 48px;
  }
}
.footer-section .important-read .left-info img {
  width: auto;
  margin-top: 0px;
}
@media (min-width: 767px) {
  .footer-section .important-read .left-info img {
    margin-top: 8px;
  }
}
.footer-section .important-read .right-info {
  width: 100%;
  margin-top: 20px;
}
@media (min-width: 767px) {
  .footer-section .important-read .right-info {
    width: 40%;
    margin: auto;
  }
}
.footer-section .important-read .right-info p {
  color: #E0E0E0;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.footer-section .important-read .right-info p + p {
  margin-top: 20px;
}
.footer-section .footer-info {
  border-top: 2px solid #667085;
  margin-top: 20px;
  padding-top: 20px;
}
@media (min-width: 767px) {
  .footer-section .footer-info {
    margin-top: 30px;
    padding-top: 30px;
  }
}
.footer-section .footer-info .short-details img {
  margin-bottom: 10px;
}
.footer-section .footer-info .short-details h4 {
  color: var(--white, #FFF);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-section .footer-info .short-details p {
  color: #DCDCDC;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.6;
}
.footer-section .footer-info .link-d {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}
@media (min-width: 767px) {
  .footer-section .footer-info .link-d {
    margin: auto;
    gap: 18px;
  }
}
.footer-section .footer-info .link-d li a {
  color: #DCDCDC;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
}
.footer-section .footer-info .link-d li a span {
  color: #fff;
}

.copyright {
  background: #030412;
  padding: 15px 0px;
}
.copyright p {
  color: var(--white, #FFF);
  text-align: center;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.industry-standard {
  border-radius: 32px;
  background: #F5F9FD;
  padding: 20px;
  margin-bottom: 40px;
}
@media (min-width: 767px) {
  .industry-standard {
    padding: 40px;
  }
}
.industry-standard img {
  width: 100%;
}
.industry-standard .market-details h3 {
  color: #171717;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  .industry-standard .market-details h3 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
.industry-standard .market-details ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-left: 20px;
  margin-bottom: 10px;
}
@media (min-width: 767px) {
  .industry-standard .market-details ul {
    gap: 16px;
    padding-left: 28px;
    margin: auto;
  }
}
.industry-standard .market-details ul li {
  list-style: disc;
  width: calc((100% - 0px) / 1);
  color: #28292B;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%; /* 36px */
  letter-spacing: -0.09px;
}
@media (min-width: 767px) {
  .industry-standard .market-details ul li {
    width: calc((100% - 20px) / 2);
    font-size: 18px;
  }
}

.faq .accordion {
  padding: 0px 0px 40px;
  width: 900px;
  margin: auto;
}
@media (max-width: 1200px) {
  .faq .accordion {
    width: auto;
  }
}
.faq .accordion .accordion-item {
  border: 0px solid #ECECEC;
  box-shadow: none;
  border-radius: 8px;
  margin-bottom: 16px;
  border-radius: 16px;
  background: #F5F5F5;
}
.faq .accordion .accordion-item .accordion-button {
  color: #000;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 107.692% */
  padding: 16px 24px;
  border-radius: 8px;
  padding-left: 60px;
}
@media (min-width: 767px) {
  .faq .accordion .accordion-item .accordion-button {
    font-size: 26px;
  }
}
.faq .accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}
.faq .accordion .accordion-item .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
  position: absolute;
  left: 20px;
}
.faq .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  position: absolute;
  left: 20px;
}
.faq .accordion .accordion-item .accordion-body {
  padding: 0px 24px 16px 60px;
}
.faq .accordion .accordion-item .accordion-body p {
  color: #171717;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.faq .accordion .accordion-item .accordion-body p + p {
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */